
li{
    list-style: none;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    max-width: 1920px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.menuNavLinks{
    display: flex;
    margin: 0 auto;
    width: 50%;
    
    justify-content: space-between;
    padding: 5%;
    
}

.menuLink{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;

    padding: 1rem 2rem;
    border-radius: 30px;
    border: 2px solid white;
    opacity: .5;
    cursor: pointer;
    &:hover{
        transition: opacity .3s ease-in-out;
        background-color: rgba(136, 215, 251, 0.52);
        opacity: 1;
    }
}

._activeLink {
    opacity: 1;
}



